<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="APICurrencys" value="https://api.mercadolibre.com/currencies/" />
		<add key="APICC1" value="https://api.mercadolibre.com/currency_conversions/search?from=" />
		<add key="APICC2" value="to=USD" />
		<add key="PathJson" value="Desafio4.json" />
		<add key="PathCSV" value="Desafio4.csv" />
	</appSettings>
</configuration>